<section id="appMain" class="container" style="min-height: 445px;">
    <noscript>
        &lt;div&gt;Para una mejor experiencia en LAN.com, habilite JavaScript
        en su navegador&lt;/div&gt;
    </noscript>
        <div id="mainContent" translate-cloak="cloak-class">
        <div class="flightStatusApp">
            <div class="navigation-region"></div>
            <div class="main-region"><div><section class="cabecera row">
                <h2 class="hidden-xs tituloVuelos"><span translate="EV_TITULO_BUSQUEDA"></span></h2>

                <div class="flightStatusMessages col-sm-12 col-xs-12 widthBanner">
                    <p class="flightstatusNotes"><span translate="EV_BAJADA"></span></p>
                </div>



            </section>

                <section class="search">

                    <p class="tituloBusqueda"><span translate="EV_TITULO_CAJA_BUSQUEDA"></span></p>

                    <div class="box-white boxBusqueda">

                        <div class="tabs"><div><ul class="nav nav-tabs nav-justified" role="tablist" id="controlSearchBox">
                            <li id="odTab" class="active">
                                <a rel="mx" title="{{ 'LABEL_ORIGEN_DESTINO' | translate }}" ng-click="justDemo()" data-target="#origin-destination" class="hidden-xs" role="tab" data-toggle="tab">
                                    <span translate="LABEL_ORIGEN_DESTINO"></span>
                                </a>
                                <a rel="mx" title="{{ 'EV_LABEL_RUTA' | translate }}" ng-click="justDemo()" data-target="#origin-destination" class="visible-xs" role="tab" data-toggle="tab">
                                    <span translate="EV_LABEL_RUTA"></span>
                                </a>
                            </li>
                            <li id="fnTab" class="">
                                <a rel="mx" title="{{ 'EV_LABEL_BUSQUEDA_NRO_VUELO' | translate }}" ng-click="justDemo()" data-target="#flight-number" data-toggle="tab">
                                    <span translate="EV_LABEL_BUSQUEDA_NRO_VUELO"></span>
                                </a>
                            </li>
                        </ul></div></div>


                        <div class="searchBox"><div><div class="relativePosition">
                            <div class="modalErrorOverLay col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                <div class="error-message noBorder">
                                    <span class="icon-exclamation-negative icon-medium"></span>
                                    <strong>Lo sentimos, la búsqueda por ruta no está disponible en este momento.</strong>
                                    <p>Por favor  inténtalo ingresando tu número de vuelo. Si no lo recuerdas, búscalo en la sección <a href="EV_PASO1_MSJ_ERROR_SERVICIO_ATO_LINK">Mis Viajes.</a>
                                    </p>
                                </div>
                            </div>

                            <p class="text-search hidden-xs"><span translate="EV_LABEL_FECHA_ESTADO_VUELO"></span></p>

                            <div class="controlSelectDate hidden-xs"><div><div class="date-options" tabindex="0">

                                <div class="control-option " data-offset="-1">
                                    <div class="dayOfWeek">
                                        <span translate="EV_LABEL_CALENDARIO_FRIDAY"></span>
                                    </div>
                                    <div class="dayOfMonth">
                                        23
                                    </div>
                                    <div class="Month">
                                        julio
                                    </div>
                                </div>

                                <div class="control-option selected" data-offset="0">
                                    <div class="dayOfWeek">
                                        <span translate="EV_LABEL_CALENDARIO_SATURDAY"></span>
                                    </div>
                                    <div class="dayOfMonth">
                                        24
                                    </div>
                                    <div class="Month">
                                        julio
                                    </div>
                                </div>

                                <div class="control-option " data-offset="1">
                                    <div class="dayOfWeek">
                                        <span translate="EV_LABEL_CALENDARIO_SUNDAY"></span>
                                    </div>
                                    <div class="dayOfMonth">
                                        25
                                    </div>
                                    <div class="Month">
                                        julio
                                    </div>
                                </div>

                                <div class="control-option " data-offset="2">
                                    <div class="dayOfWeek">
                                        <span translate="EV_LABEL_CALENDARIO_MONDAY"></span>
                                    </div>
                                    <div class="dayOfMonth">
                                        26
                                    </div>
                                    <div class="Month">
                                        julio
                                    </div>
                                </div>

                                <div class="control-option " data-offset="3">
                                    <div class="dayOfWeek">
                                        <span translate="EV_LABEL_CALENDARIO_TUESDAY"></span>
                                    </div>
                                    <div class="dayOfMonth">
                                        27
                                    </div>
                                    <div class="Month">
                                        julio
                                    </div>
                                </div>

                            </div></div></div>
                            <form name="form" method="GET" role="form" class="form-horizontal searchForm clearfix">

                                <fieldset class="col-sm-offset-3 col-sm-6 col-xs-12">

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="origin-destination">
                                            <div class="selectOrigin"><div><div class="form-group ">
                                                <label class="col-sm-2 col-xs-12" for="selectOrigin">
                                                    <span translate="EV_LABEL_SALIDA_CAMPO"></span>
                                                </label>

                                                <div class="col-sm-10 col-xs-12">
                                                    <input id="selectOrigin" placeholder="{{ 'EV_INPUT_CAMPO_SALIDA' | translate}}" type="text" ng-model="airportOrigin" tabindex="1" autocomplete="off" typeahead="airport for airport in airports | filter:$viewValue | limitTo:8" class="form-control selectAirport">
                                                </div>
                                            </div></div></div>

                                            <div class="selectDestination"><div><div class="form-group ">
                                                <label class="col-sm-2 col-xs-12" for="selectDestination">
                                                    <span translate="EV_LABEL_LLEGADA_CAMPO"></span>
                                                </label>

                                                <div class="col-sm-10 col-xs-12">
                                                    <input id="selectDestination" placeholder="{{ 'EV_INPUT_CAMPO_LLEGADA' | translate}}" tabindex="2" autocomplete="off" type="text" ng-model="airportDestination" typeahead="airport for airport in airports | filter:$viewValue | limitTo:8" class="form-control selectAirport">
                                                </div>
                                            </div></div></div>
                                        </div>

                                        <div class="tab-pane " id="flight-number">
                                            <div class="selectAirline"><div><div class="form-group">
                                                <label class="col-sm-4 col-xs-12" for="">
                                                    Aerolínea:
                                                </label>

                                                <div class="col-sm-8 col-xs-12">
                                                    <select id="a" class="form-control fieldSearchFN" placeholder="Aerolínea" type="text">

                                                        <option value="LAN" selected="selected">LAN</option>

                                                        <option value="TAM">TAM</option>

                                                    </select>
                                                </div>
                                            </div></div></div>

                                            <div class="fieldFlightNumber"><div><div class="form-group ">
                                                <label class="col-sm-4 col-xs-12" for="">
                                                    Vuelo:
                                                </label>

                                                <div class="col-sm-8 col-xs-12">
                                                    <input id="fieldFlightNumber" class="col-sm-5 form-control fieldSearchFN" placeholder="Ejemplo: LA500" type="text" value="">
        <span class="hidden-xs help-block linkWhere" data-toggle="modal" data-target="#modalWhereFindIt">
            <a rel="mx">¿Dónde lo encuentras?</a>
        </span>

                                                </div>
                                            </div></div></div>
                                        </div>
                                    </div>

                                    <div class="selectDate visible-xs"><div><div class="form-group">
                                        <label class="col-sm-2 col-xs-12">Fecha:</label>
                                        <div class="col-sm-10 col-xs-12">
                                            <select name="" id="" class="form-control">

                                                <option value="-1">jueves 23 de julio</option>

                                                <option value="0" selected="selected">viernes 24 de julio</option>

                                                <option value="1">sábado 25 de julio</option>

                                                <option value="2">domingo 26 de julio</option>

                                                <option value="3">lunes 27 de julio</option>

                                            </select>
                                        </div>
                                    </div></div></div>

                                    <div class="buttonSearch"><div><button class="btn btn-green buttonSearch" ng-click="justDemo()" type="submit"><span translate="EV_BOTON_VER_ESTADO"></span></button></div></div>

                                </fieldset>

                            </form>

                            <div class="modalBoxWhereFindIt"><div><div class="modal fade" id="modalWhereFindIt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">
                                                <span class="icon-close-positive icon-xsmall" aria-hidden="true"></span> Cerrar
                                            </button>
                                            <h4 class="modal-title"></h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="modal_titleWhereYouFindIt">
                                                ¿Dónde lo encuentras?
                                            </div>
                                            <div class="modal_textWhereYouFindIt">
                                                En la sección Mis Viajes encontrarás el detalle de cada uno de tus vuelos.
                                            </div>
                                            <div class="modal-containerImage">
                                                <p>en LAN</p>
                                                <img src="/apps/flightstatus/2.0.1/app/dist/images/flight_status/modalBox/donde.png" width="720" height="240" alt="En la sección Mis Viajes encontrarás el detalle de cada uno de tus vuelos." class="whereYouFindIt">
                                            </div>

                                            <div class="modal-containerImage">
                                                <p>en TAM</p>
                                                <img src="/apps/flightstatus/2.0.1/app/dist/images/flight_status/modalBox/donde-tam.png" width="621" height="283" alt="En la sección Mis Viajes encontrarás el detalle de cada uno de tus vuelos." class="whereYouFindIt">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div></div></div>
                        </div></div></div>

                    </div>

                </section>

                <div class="search-lanFooter box-white usefull-info lan-box-white" id="footerLan">
                    <h3 class="ribbon lanInformacionUtil hidden-xs">Información útil</h3>
                    <div class="col-sm-4 lan-col-infoUtil">
                        <div class="search-lanFooterIconoSection search-lanFooterContenedorBanner row">
                            <div class="search-lanFooterIconoImg col-sm-3 col-xs-12">
                                <div class="search-lanFooterIcono search-lanFooterIcono1"></div>
                            </div>

                            <div class="col-sm-9 col-xs-12 search-lanFooterIconoSectionParrafo">
                                <p class="text-left "><span translate="EV_INFO_FRECUENCIA_HORARIOS_TAM"></span>  <a href="http://www.lan.com/cgi-bin/itinerario/consulta_itinerario.cgi" rel="mx">Consulta de itinerarios</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 lan-col-infoUtil">
                        <div class="search-lanFooterIconoSection search-lanFooterContenedorBanner row">
                            <div class="search-lanFooterIconoImg col-sm-3">
                                <div class="search-lanFooterIcono search-lanFooterIcono2"></div>
                            </div>

                            <div class="col-sm-9 col-xs-12 search-lanFooterIconoSectionParrafo">
                                <p class="text-left "><span translate="EV_INFO_CAMBIOS_DE_VUELOS_LAN"></span> </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4 lan-col-infoUtil">
                        <div class="search-lanFooterIconoSection search-lanFooterContenedorBanner row">
                            <div class="search-lanFooterIconoImg col-sm-3">
                                <div class="search-lanFooterIcono search-lanFooterIcono3"></div>
                            </div>

                            <div class="col-sm-9 col-xs-12 search-lanFooterIconoSectionParrafo">
                                <p class="text-left ">
                                    <span translate="EV_INFO_ESTADO_DE_VUELOS_OTRAS_APP"></span>
                                    <a href="https://ssl.lan.com/cgi-bin/mis_viajes/mis_viajes.cgi" rel="mx">
                                        <span translate="EV_INFO_ESTADO_DE_VUELOS_OTRAS_APP_NOMBRE_LINK_LAN"></span>
                                    </a>
                                </p>
                            </div>

                        </div>
                    </div>

                    <div class="hidden-xs">
                        <div class="col-sm-12 search-lanFooterBackground"></div>
                    </div>
                </div></div></div>
        </div>
        <div class="spinner-container" style="display: none;"><span class="spinner"></span>
        </div></div>
</section>