<header id="appHeader">
    <div class="stickyBar lan">
        <div class="container stickyWrap row">
            <ul>
                <li><a id="appHeader_countrySelectorLink" href="#" title="" class="country {{home}}"><b
                        class="caret"></b>
                </a></li>
                <li class="phone">600 526 2000</li>
                <li><a href="" http:="" www.lan.com="" es_cl="" sitio_personas="" contacto="" mesa-de-ayuda=""
                       index.html"="" title="Contáctanos">Contáctanos</a></li>
            </ul>
            <div id="appHeader_countrySelector" class="container countrySelector col-sm-12" style="display: none;">
                <div class="col-sm-3">
                    <ul>
                        <h2>Sudamérica / South America</h2>
                        <li><a href="http://www.lan.com/es_ar/sitio_personas/index.html" title="Argentina"
                               class="country es_ar" data-pcom="espanol/ar" data-homeinfo="es_ar">Argentina</a></li>
                        <li><a href="http://www.lan.com/pt_br/sitio_personas/index.html" title="Brasil"
                               class="country pt_br" data-pcom="PT/BR" data-homeinfo="pt_br">Brasil</a></li>
                        <li><a href="http://www.lan.com/es_cl/sitio_personas/index.html" title="Chile"
                               class="country es_cl" data-pcom="espanol/cl" data-homeinfo="es_cl">Chile</a></li>
                        <li><a href="http://www.lan.com/es_co/sitio_personas/index.html" title="Colombia"
                               class="country es_co" data-pcom="es/co" data-homeinfo="es_co">Colombia</a></li>
                        <li><a href="http://www.lan.com/es_ec/sitio_personas/index.html" title="Ecuador"
                               class="country es_ec" data-pcom="espanol/ec" data-homeinfo="es_ec">Ecuador</a></li>
                        <li><a href="http://www.lan.com/es_pe/sitio_personas/index.html" title="Perú"
                               class="country es_pe" data-pcom="espanol/pe" data-homeinfo="es_pe">Perú</a></li>
                        <li><a href="http://www.lan.com/es_uy/sitio_personas/index.html" title="Uruguay"
                               class="country es_uy" data-pcom="espanol/uy" data-homeinfo="es_uy">Uruguay</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul>
                        <h2>Norteamérica / North America</h2>
                        <li><a href="http://www.lan.com/en_ca/sitio_personas/index.html" title="Canada"
                               class="country en_ca" data-pcom="en/ca" data-homeinfo="en_ca">Canada</a></li>
                        <li><a href="http://www.lan.com/es_mx/sitio_personas/index.html" title="México"
                               class="country es_mx" data-pcom="espanol/mx" data-homeinfo="es_mx">México</a></li>
                        <li><a href="http://www.lan.com/en_us/sitio_personas/index.html" title="United States (English)"
                               class="country en_us" data-pcom="english/us" data-homeinfo="en_us">United States
                            (English)</a></li>
                        <li><a href="http://www.lan.com/es_us/sitio_personas/index.html"
                               title="Estados Unidos (Español)" class="country es_us" data-pcom="espanol/us"
                               data-homeinfo="es_us">Estados Unidos (Español)</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul>
                        <h2>Europa / Europe</h2>
                        <li><a href="http://www.lan.com/de_de/sitio_personas/index.html" title="Deutschland"
                               class="country de_de" data-pcom="deutsch/de" data-homeinfo="de_de">Deutschland</a></li>
                        <li><a href="http://www.lan.com/es_es/sitio_personas/index.html" title="España"
                               class="country es_es" data-pcom="espanol/es" data-homeinfo="es_es">España</a></li>
                        <li><a href="http://www.lan.com/fr_fr/sitio_personas/index.html" title="France"
                               class="country fr_fr" data-pcom="fr/fr" data-homeinfo="fr_fr">France</a></li>
                        <li><a href="http://www.lan.com/en_uk/sitio_personas/index.html" title="United Kingdom"
                               class="country en_uk" data-pcom="en/uk" data-homeinfo="en_uk">United Kingdom</a></li>
                        <li><a href="http://www.lan.com/en_ue/sitio_personas/index.html" title="Rest of Europe"
                               class="country en_ue" data-pcom="english/ue" data-homeinfo="en_ue">Rest of Europe</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul>
                        <h2>Oceanía / Oceania</h2>
                        <li><a href="http://www.lan.com/en_au/sitio_personas/index.html" title="Australia"
                               class="country en_au" data-pcom="en/au" data-homeinfo="en_au">Australia</a></li>
                        <li><a href="http://www.lan.com/en_nz/sitio_personas/index.html" title="New Zealand"
                               class="country en_nz" data-pcom="en/nz" data-homeinfo="en_nz">New Zealand</a></li>
                        <h2>Otros países / Other countries</h2>
                        <li><a href="http://www.lan.com/es_un/sitio_personas/index.html" title="Otros paises"
                               class="country es_un" data-pcom="espanol/un" data-homeinfo="es_un">Otros países</a></li>
                        <li><a href="http://www.lan.com/en_un/sitio_personas/index.html" title="Other countries"
                               class="country en_un" data-pcom="english/un" data-homeinfo="en_un">Other countries</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section class="container marks hidden-xs">
        <div class="row">
            <a href="http://www.lan.com/es_cl/sitio_personas/index.html" class="header-logo lan-tam"
               title="Grupo LATAM Airlines S.A."></a>
            <a class="header-logo oneworld" href="http://www.oneworld.com/home"></a>
        </div>
    </section>


    <div class="container hidden-xs">
        <div class="row">
            <ul class="menu">
                <li><a href=" http://www.lan.com/es_cl/sitio_personas/guia-de-destinos/index.html">Destinos</a>
                </li>
                <li><a href=" http://www.lan.com/es_cl/sitio_personas/reservas-y-servicios/index.html">SERVICIOS</a>
                </li>
                <li><a href=" http://www.lan.com/es_cl/sitio_personas/promociones/index.html">Promociones</a>
                </li>
                <li><a href=" http://www.lan.com/es_cl/sitio_personas/lantours/index.html">PROGRAMAS LANTOURS</a></li>
                <li><a href=" http://www.lan.com/es_cl/sitio_personas/lanpass/index.html">LANPASS</a>
                </li>
                <li><a href=" http://www.lan.com/es_cl/sitio_personas/experiencia-lan-y-tam/index.html">EXPERIENCIA LAN
                    Y TAM</a></li>
                <li><a href=" http://www.lan.com/es_cl/empresas/index.html">LAN Empresas</a></li>
            </ul>
        </div>
    </div>


    <nav id="mobileHeader" class="navbar navbar-default navbar-fixed-top visible-xs" role="navigation">
        <div class="col-xs-1 returnLink">
            <a id="returnLink" href="http://mobile.usablenet.com/mt/www.lan.com/es_cl/sitio_personas/index.html">
                <span class="icon-small icon-caret-left"></span>
            </a>
        </div>
        <div class="col-xs-10" id="mobileTitleContainer"><h2 id="mobileTitle">
            Estado de Vuelos
        </h2></div>
        <div class="col-xs-1">&nbsp;</div>
    </nav>
</header>