<footer class="footer-lan" style="position: relative; bottom: 0; left: 0;">
    <div class="container">
        <div class="row">
            <div class="hidden-xs">
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <a rel="mx" href="http://www.lan.com/es_cl/sitio_personas/index.html" class="footer-lan-logo"
                       title="GRUPO LATAM AIRLINES"></a>
                </div>
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <ul class="footer-lan-menu">
                        <li><a rel="mx" href="http://www.lan.com/es_cl/about_us/cargo_combustible.html"
                               class="footer-lan-a">Cargo por Combustible</a></li>
                        <li><a rel="mx" href="http://www.lan.com/es_cl/home/contrato_transporte.html"
                               class="footer-lan-a">Condiciones del contrato de transporte</a></li>
                        <li><a rel="mx" href="http://es.lancargo.com/descargas/itinerarios/pdf/tarifario_chile.pdf"
                               class="footer-lan-a">Tarifas LAN CARGO</a></li>
                    </ul>
                    <p class="footer-lan-term">© 2015 LATAM AIRLINES GROUP S.A. - Todos los derechos reservados..</p>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <a href="http://www.lan.com/es_cl/volar_en_lan/acerca_de_lan/alianza_oneworld.html"
                       class="footer-lan-oneworld" title="Oneworld"></a>
                </div>
            </div>
            <div class="visible-xs">
                <div class="footer-lan-item">
                    <a class="footer-lan-mobile-a"
                       href="https://mobile.usablenet.com/mt/ssl.lan.com/cgi-bin/postulacion_upg/paso1.cgi">
                        LANPASS Upgrade </a>
                </div>
                <div class="footer-lan-item">
                    <a class="footer-lan-mobile-a"
                       href="https://mobile.usablenet.com/mt/ssl.lan.com/cgi-bin/checkin/paso1.cgi">
                        Check-in </a>
                </div>
                <div class="footer-lan-item">
                    <a class="footer-lan-mobile-a"
                       href="http://mobile.usablenet.com/mt/www.lan.com/cgi-bin/itinerario/consulta_itinerario.cgi">
                        Timetable </a>
                </div>
                <div class="footer-lan-item">
                    <a class="footer-lan-mobile-a"
                       href="http://mobile.usablenet.com/mt/www.lan.com/cgi-bin/itinerario/consulta_itinerario.cgi">
                        Información de Viaje </a>
                </div>
                <div class="footer-lan-item">
                    <a class="footer-lan-mobile-a" href="http://www.lan.com/es_cl/sitio_personas/lanpass/index.html">
                        LANPASS </a>
                </div>
            </div>
        </div>
    </div>
</footer>